{% extends './base.html' %}

{% block content %}
    <h1>Welcome, {{user.username}}</h1>
    {% if user.is_superuser %}<a href="/admin">Admin Site</a>{% endif %}
    <br>

    <h3>Profile</h3>

    {% if user %}
        <div class="profile">
            <div><b>Name:</b> {{user.first_name}} {{user.last_name}}</div>
            <div><b>Username: </b>{{user.username}}</div>
            <div><b>Email: </b>{{user.email}}</div>
        </div>

    {% else %}

        <p>Error fetching profile details.</p>

    {% endif %}

    <h3>Posts</h3>
    {% if all_posts %}
    <div>
        {% for post in all_posts %}
        <div class="post-container">
            <a href="{% url 'profile' post.author.username %}" class="username-link">{{ post.author.username }}</a>
            <a href="{% url 'post' post.pk %}">
                <div class="post-body">
                    <h4>{{ post.title }}</h4>
                    <span>{{ post.pub_date }}</span>
                    <div></div>
                    {% if post.images %}
				    <img src="{{ post.images.url }}" class="post-image">
				    {% else %}
				    <div class="post-image"></div>
				    {% endif %}
                    <p>{{ post.content|truncatechars:40 }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    <style>
        .post-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            background-color: #adb0ae;
            padding: 1rem;
            border-radius: 1rem;
        }
        .post-container a{
            color: #222222;
            text-decoration: none;
        }
        .post-body {
            padding-left: 1rem;
        }
        .post-image {
            width: 50%;
            margin: auto;
            display: block;
            padding: 0.5rem;
        }
        a.username-link {
            color: #2e0aa5;
        }
    </style>
    
{% endblock %}